.recommendedCard {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: left;
  padding: 12px;
}
.recommendedCard_img {
  width: 100%;
  height: 250px;
  /* background: antiquewhite; */
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}

.recommendedCard_text {
  font-family: sans-serif;
}

.recommendedCard_btn {
  width: max-content;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 12px 20px;
  cursor: pointer;
  font-weight: 600;
  /* transition: all 400ms; */
  color: white;
  background: #063a47;
  font-family: sans-serif;
}

@media screen and (max-width: 768px){
  .recommendedCard {
    align-items: center;
  }
}